*{
  margin: 0;
  padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/*Login*/
.login-main-containers {
  background-image: url('../../assets/icon/loginbg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  position: relative;
}

.login-main-containers::before {
  content: "";
  background-color: rgba(68, 79, 95, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.left-login-containers {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.right-login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

.right-login-container::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.Slashtext-contents {
height: 20rem;
width: 80%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
font-family: Poppins, 'Source Sans Pro';
position: absolute;
top: 20%;
left: 50%;
transform: translate(-50%, -50%);
}

.Slashtext-contents div:first-child{
color: #ffffff;
font-size: 4rem;
font-family: Poppins, 'Source Sans Pro';
}

.Slashtext-contents div:last-child{
color: #ffffff;
font-size: 4rem;
font-family: Poppins, 'Source Sans Pro';
}

.slash-footer {
height: 5rem;
width: 50%;
position: absolute;
bottom: 1%;
left: 50%;
transform: translateX(-50%);
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-size: 1.5rem;
}

.slash-footer div{
color: #ffffff;
}

.right-content{
position: absolute;
width: 100%;
height: 100%;
}

.Uk-english {
position: relative;
top: 4%;
float: right;
right: 2%;
font-family: Poppins, 'Source Sans Pro';
cursor: pointer;
}

.text-english{
font-size: 1.8rem;
}

.welcome-text{
position: relative;
top: 10%;
left: 20rem;
padding: 15px;
width: 60%;
display: flex;
align-items: center;
border-radius: 10px;
flex-direction: column;
box-shadow: rgba(0, 0, 0, 0.75);

}

.welcome-text .logintextaccount{
color: #0e0f13;
font-size: 2.5rem;
font-family: Poppins, 'Source Sans Pro';
font-weight: 300;
}

.welcome-text div{
color: #8a8585;
font-size: 3.5rem;
font-family: Poppins, 'Source Sans Pro';
}

.email-pass-input {
position: relative;

left: 21.5rem;
width: 60%;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values according to your preference */
padding: 10px; /* Adjust the padding as needed */

}

.email-content {
width: 100%;
display: flex;
flex-direction: column;
}

.email-content label {
font-family: Poppins, 'Source Sans Pro';
font-size: 2rem;
color: #0e0f13;
display: block;
margin-bottom: 8px;
}

.emailinput {
display: flex;
align-items: center;
border: 1px solid #DDDDDD; /* Add a line under the input for a floating effect */
border-radius: 7px;
padding: 10px;
width: 100%;
}

.emailinput input {
flex: 1;
border: none;
outline: none;
font-size: 1.8rem; /* Adjust the font size as needed */
padding: 6px;
width: 50%; /* Set the width to 100% to fill the available space */
}


.fa-envelope{
right: 4%;
font-size: 3.5em;
top: 10%;
color: #968f8f;
}

.password-content{
margin-top: 2rem;
width: 100%;
display: flex;
flex-direction: column;
}

.password-content label{
font-family: Poppins, 'Source Sans Pro';
font-size: 2rem;
color: #0e0f13;
display: block;
margin-bottom: 8px;
}


.password-input {
display: flex;
align-items: center;
border: 1px solid #DDDDDD; /* Add a line under the input for a floating effect */
border-radius: 7px;
padding: 10px;
width: 100%;
}  

.password-input input {
flex: 1;
border: none;
outline: none;
font-size: 1.8rem; /* Adjust the font size as needed */
padding: 6px;
width: 50%; /* Set the width to 100% to fill the available space */
}

.eye{
right: 4%;
font-size: 3.5em;
top: 10%;
color: #968f8f;
}


.remember-forgot {
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 2rem;
}

.rememberme {
align-items: center;
}

.remembertext {
display: flex;
align-items: center;
cursor: pointer;
font-size: 1.5rem;
}

.remembertext input {
cursor: pointer;
margin-right: 5px;
}

.fpass-word{
font-size: 1.5rem;
}

.button-login{
padding: 10px 0 10px 0;
margin-top: 2rem;
}

.loginnow{
border-radius: 7px;
padding: 15px;
border: none;
width: 100%;
background-color: #333;
color: #ffffff;
}

.loginnow:hover{
background-color: #FFA500;
color: #ffffff;
}

/*Dashboard Css*/
.main-of-containers{
  display: flex;
  height: 100vh;
  background-color: #E9EBED;
}

.left-of-main-containers,
.mid-of-main-containers,
.right-of-main-containers{
  height: 100%;
}

.left-of-main-containers {
  flex: 0 0 13.8%;
  background-color: blue;
}

.mid-of-main-containers {
  flex: 0 0 0.5%;
  background-color: #EAEAEB;
}

.right-of-main-containers {
  flex: 0 0 85.7%;
  background-color: #ffffff;
}

.right-body-contents {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.settings-search-master {
  flex: 10; 
  display: flex;
}

.dropdown-and-iconics {
  width: 100%;
  height: 100%;
  display: flex;
}

.dropdown-side {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
  padding-left: 40px;
}

.search-buttons {
  flex: 1;
  padding: 5px;
}

.dropdownsss select {
  width: 200px;
  border: 1px solid #ccc;
  height: 60px;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  font-family: Poppins, 'Source Sans Pro';
}

.searcher-side input[type="search"] {
  width: 300px;
  border: 1px solid #ccc;
  height: 60px;
  padding-left: 35px;
  font-size: 16px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  font-family: Poppins, 'Source Sans Pro';
}

.search-buttons button {
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: none;
  font-family: Poppins, 'Source Sans Pro';
  font-size: 16px;
  height: 60px;
  width: 150px;
  border-radius: 4px;
  color: #000000;
}


.iconic-side {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Employeetext-button {
  flex: 10;
  display: flex;
}

.employee-and-button {
  width: 100%;
  height: 100%;
  display: flex;
}

.emp-text-side{
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
}

.emp-text-side p {
  font-size: 30px;
  font-family: Poppins, 'Source Sans Pro';
  color: #000000;
}

.button-create-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Buttonmodal-new {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 100px;
  z-index: 1;
}

.Buttonmodal-new button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 60px;
  background-color: #FFA500;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-family: Poppins, 'Source Sans Pro';
}

.Buttonmodal-new button:hover{
  background-color: #2D2F39;
}


.sortingplacess {
  flex: 5;
  padding-left: 40px;
}

.sortingboxess{
  display: flex;
  align-items: center;
}

.sortingboxess span{
  font-size: 20px;
  font-family: Poppins, 'Source Sans Pro';
}

.sortingboxess select{
  width: 40px;
  height: 30px;
  font-size: 15px;
}

.table-containss {
  flex: 70;
}

.main-of-all-tables{
  position: relative;
  /* top: -40px;   */
  width: 100%;
  height: 100%;
}

.main-of-all-tables table {
  width: 100%;
  font-size: 20px;
  font-family: Poppins, 'Source Sans Pro';
  justify-content: center;
  align-items: center;
}

.main-of-all-tables th{
  background-color: #F9F9FB;
  font-family: Poppins, 'Source Sans Pro';
  font-weight: normal;
  height: 50px;
  padding-left: 40px;
}

.main-of-all-tables td{
  padding-left: 40px;
  border-bottom: 1px solid #DDDDDD;
  font-family: Poppins, 'Source Sans Pro';
}


.pagination-contains {
  flex: 5;
}


/*forgot password css*/
.forgot-content-main {
  height: 100vh;
  display: flex;
  position: relative;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url('../../assets/image/programmingbg.jpg');
  box-shadow: 0 0.4rem 5rem rgba(0, 0, 0, 0.1000000015);
}

.blurbg-forgot {
  width: 97%;
  height: 87rem;
  position: absolute;
  left: 3rem;
  top: 5rem;
  background-color: rgba(187, 185, 185, 0.3);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fgpass-lefts{
flex: 1;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.fgpass-rights{
flex: 1;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.right-fg-content{
width: 85%;
height: 80vh;
margin-top: 1rem;
margin-right: 2rem;
background-color: #ffffff;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
position: absolute;
}

.bglogo {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 150px;
}

.bglogo .slashlogo{
width: 50%;
height: 200%;
}

.forgot-text-question{
  position: relative;
  top: 2rem;
  font-size: 3.5rem;
  font-family: Poppins, 'Source Sans Pro';
  left: 12rem;
}

.emailandinput{
position: relative;
top: 4rem;
display: flex;
height: 50vh;
flex-direction: column;
}

.emailfonts{
position: relative;
font-family: Poppins, 'Source Sans Pro';
left: 12rem;
font-size: 3rem;
}

.email-input{
position: relative;
font-family: Poppins, 'Source Sans Pro';
left: 12rem;
font-size: 3rem;
top: 2rem;
width: 75%;
}  

.fg-submitbutton{
position: relative;
top: 4rem;
padding: 40px;
}

.fg-button{
margin-left: 8rem
}

.remembered-text{
position: relative;
top: 4rem;
left: 12rem;
width: 70%;
height: 40px;
font-family: Poppins, 'Source Sans Pro';
font-size: 2rem;
}
.back-login{
position: relative;
top: 4rem;
left: 12rem;
}

/*OTP Css*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-clear-button {
display: none;
}

.main-onetimepass{
height: 100vh;
display: flex;
position: relative;
background-size: 50% 100%;
background-repeat: no-repeat;
background-position: left;
background-image: url('../../assets/image/programmingbg.jpg');
box-shadow: 0 0.4rem 5rem rgba(0, 0, 0, 0.1000000015);
}

.otpass-blurd{
width: 97%;
height: 87rem;
position: absolute;
left: 3rem;
top: 5rem;
background-color: rgba(187, 185, 185, 0.3);
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.otp-lefts{
flex: 1;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.right-otpass{
flex: 1;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.otp-rightbox{
width: 85%;
height: 80vh;
margin-top: 1rem;
margin-right: 2rem;
background-color: #ffffff;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
position: absolute;
}

.otp-slashlogo{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 150px;
}

.otp-slashlogo .slashlogo{
width: 50%;
height: 200%;
}

.verificationstext {
position: relative;
display: flex;
flex-direction: column;
}

.otpverify-text {
font-size: 3.5rem;
margin-left: 12rem;
}

.remain-times{
font-size: 2rem;
margin-left: 12rem;
margin-top: 1rem;
}

.code-box{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 65%;
left: 12rem;
position: relative;
top: 5rem;
}

.button-otp-submit{
position: relative;
top: 9rem;
height: 7vh;
}

.continue-submit{
margin-left: 12rem;
}

.resendcodes-content{
position: relative;
top: 10rem;
height: 70px;
display: flex;
flex-direction: row;
}

.notreceive{
font-family: Poppins, 'Source Sans Pro';
color: #000000;
font-size: 2rem;
margin-left: 12rem;
margin-top: 0.5rem;
}

.resendButton{
height: 35px;
width: 90px;
background-color: inherit;
font-family: Poppins, 'Source Sans Pro';
color: #FFA500;
font-size: 2rem;
margin-left: 1rem;
border: none;
background-color: inherit;
}

.backtofg{
position: relative;
top: 8rem;
left: 12rem;
}


/*Confirm Password Css*/
.confirm-pass-left{
  width: 100%;
  height: 96.3rem;
  position: relative;
  overflow: hidden;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url('../../assets/image/programmingbg.jpg');
  box-shadow: 0 0.4rem 5rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
}

.confirm-blur-bg{
  width: 183rem;
  height: 87rem;
  position: absolute;
  left: 3rem;
  top: 4rem;
  background-color: rgba(187, 185, 185, 0.5);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.confirm-pass-right{
  width: 95.5rem;
  height: 96.3rem;
  position: absolute;
  left: 95rem;
  top: 0;
  background-repeat: no-repeat;
  opacity: 50;
}

.cpass-box-container{
  position: relative;
  width: 95.7%;
  height: 90.5%;
  top: 4rem;
  left: 1rem;
}

.cpass-white-box{
  position: relative;
  width: 78%;
  height: 84%;
  border-radius: 8px;
  left: 11rem;
  background-color: #ffffff;
  top: 6rem;
}

.setup-text{
  width: 50rem;
  height: 10rem;
  font-size: 4rem;
  font-weight: 500;
  line-height: 0.9090909091;
  letter-spacing: -0.275rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  left: 11rem;
  position: relative; /* Add relative positioning */
  top: 12rem;
}

.enternew-text{
  position: relative;
  top: 7rem;
  color: #000000;
  left: 11rem;
}

.firstinput-pass{
  position: relative;
  top: 10rem;
  left: 11rem;
  width: 84%;
  height: 10%;
}

.secondinput-pass{
  position: relative;
  top: 13.5rem;
  left: 11rem;
  width: 84%;
  height: 10%;
}

.Newpass-label{
  position: relative;
  bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 0.9090909091;
  font-family: Poppins, 'Source Sans Pro';
}

.confirmpass-label{
  position: relative;
  bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 0.9090909091;
  font-family: Poppins, 'Source Sans Pro';
}

.submit-pass-button{
  position: relative;
  top: 17rem;
  left: 11rem;
  width: 84%;
  height: 10%;
}

.button-pass{
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #333;
  color: #ffffff;
  border-radius: 8px;
  padding: 13px 223px;
  cursor: pointer;
  transition: all 150ms ease;
  border: none;
  font-size: 1.8rem;
}

.button-pass:hover{
  background-color: #FFA500;
}

.button-pass.not-allowed {
  cursor: not-allowed;
}

/* Disable ang hover effect kapag naka not-allowed ang button */
.button-pass.not-allowed:hover {
  background-color: #333;
  cursor: not-allowed; 
}

.backto-Otp{
  position: relative;
  top: 16rem;
  left: 11rem;
  width: 84%;
  height: 10%;
}

.alphanumeric{
  position: relative;
  bottom: 1rem;
}

.password-match{
  position: relative;
  height: 2rem;
  top: 0.5rem;
}

/*Sidebar CSS*/
.containers-of-sidebard {
  position: relative;
  height: 100%;
  overflow-y: hidden; /* Para sa scrollbar sa panig */
}

.sidebar-main-content {
  background-color: #161A23;
  color: white;
  width: 100%;
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.sidebar-main-content::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.sidebar-main-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sidebar-main-content::-webkit-scrollbar-thumb {
  background: #888;
}

.sidebar-main-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.logo-head-sidebars{
  height: 7.5vh;
  background-color: #161A23;
  box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.75);
}

.spacefor-sidebar{
  padding: 3px;
}
.sidebar-main-content .menu-item,
.sidebar-main-content .head-sidebar {
  padding: 13.5px;
}

.sidebar-main-content .menu-item:hover{
  background-color: #2D2F39;
  color: #FFA500;
}

.sidebar-main-content .menu-item.active {
  background-color: #2D2F39;
  color: #FFA500;
}

.sidebar-main-content .menu-item .MuiListItemText-primary{
  font-size: 2em;
  font-family: Poppins, 'Source Sans Pro';
  margin-left: 1em;
}

.sidebar-main-content .adminsub-menu .MuiListItemText-primary{
  font-size: 1.5em;
  font-family: Poppins, 'Source Sans Pro';
  margin-left: 4rem;
}

.sidebar-main-content .adminsub-menu:hover{
  background-color: #2D2F39;
  color: #FFA500;
}

.sidebar-main-content .Employeesub-menu .MuiListItemText-primary{
  font-size: 1.1rem;
  font-family: Poppins, 'Source Sans Pro';
  margin-left: 6.5rem;
}

.sidebar-main-content .Employeesub-menu:hover{
  background-color: #2D2F39;
  color: #FFA500;
}

.sidebar-main-content .Productsub-menu .MuiListItemText-primary{
  font-size: 1.1rem;
  font-family: Poppins, 'Source Sans Pro';
  margin-left: 6.5rem;
}

.sidebar-main-content .Productsub-menu:hover{
  background-color: #2D2F39;
  color: #FFA500;
}

.sidebar-main-content .BPsub-menu .MuiListItemText-primary{
  font-size: 1.1rem;
  font-family: Poppins, 'Source Sans Pro';
  margin-left: 6.5rem;
}

.sidebar-main-content .BPsub-menu:hover{
  background-color: #2D2F39;
  color: #FFA500;
}

.sidebar-main-content .Assetsub-menu .MuiListItemText-primary{
  font-size: 1.1rem;
  font-family: Poppins, 'Source Sans Pro';
  margin-left: 6.5rem;
}

.sidebar-main-content .Assetsub-menu:hover{
  background-color: #2D2F39;
  color: #FFA500;
}

.logout-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #161A23;
  box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.75);
  padding: 20px;
  z-index: 1; /* Siguraduhing nasa ibabaw ito ng content */
}

.logout{
  font-size: 1.8rem;
  font-family: Poppins, 'Source Sans Pro';
  text-decoration: none;
  color: white;
  font-weight: lighter;
}



@media screen and (max-width: 768px) {
  .left-of-main-containers {
    flex: 0 0 20%;
  }
  .mid-of-main-containers {
    flex: 0 0 10%;
  }
  .right-of-main-containers {
    flex: 0 0 70%;
  }
}

@media screen and (max-width: 480px) {
  .left-of-main-containers {
    flex: 0 0 30%;
  }
  .mid-of-main-containers {
    flex: 0 0 20%;
  }
  .right-of-main-containers {
    flex: 0 0 50%;
  }
}

/* Jerome's CSS */

.toggle-switch {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ccc;
  border-radius: 20px;
  outline: none;
  transition: background-color 0.4s;
  cursor: pointer;
}

.toggle-switch::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  left: 0;
  transition: transform 0.4s;
}

.toggle-switch:checked {
  background-color: #00bb00;
}

.toggle-switch:checked::before {
  transform: translateX(20px);
}

.BPsub-menu.active {
  background-color: #2D2F39;
  color: #FFA500;
}

.Productsub-menu.active {
  background-color: #2D2F39;
  color: #FFA500;
}

.Employeesub-menu.active {
  background-color: #2D2F39;
  color: #FFA500;
}

.show {
  position: absolute;
  right: 20px;
  bottom: 3px;
}

.restrictions{
  display: block;
  background-color: white;
  position: absolute;
  z-index: 1;
}

div#order-listing_wrapper{
  position: relative;
  top: -50px;
  width: 100%;
  height: 100%;
}

div#order1-listing_wrapper{
  position: relative;
  top: -50px;
  width: 100%;
  height: 100%;
}

div#order2-listing_wrapper{
  position: relative;
  top: -50px;
  width: 100%;
  height: 100%;
}

tbody, td, tfoot, th, thead, tr{
  width: 100pc;
}

table{
  display: block;
  max-height: 400px;
  min-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.table{
  max-height: fit-content;
}

thead{
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

h3.role-head{
  position: relative;
  bottom: -15px;
}

td.role{
  position: relative;
  left: 20px;
}

.d-flex{
  padding: 20px 0px;
}

.supplier-table{
  padding-top: 50px;
}

.save-cancel{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
}

.right-body-contents-a{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  
}

a.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 60px;
    background-color: #FFA500;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-family: Poppins, 'Source Sans Pro';
    text-decoration: none;
}

a.button:hover{
  text-decoration: none;
  background-color: #2D2F39;
  color: white;
}

div#order-listing_length{
  position: relative;
  top: 60px;
  width: 50%;
}

div#order1-listing_length{
  position: relative;
  top: 60px;
  width: 50%;
}

div#order2-listing_length{
  position: relative;
  top: 60px;
  width: 50%;
}

.form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint{
  border: 1px solid #b5b5b5;
}

a.paginate_button.current{
  background-color: #FFA500;
  color: white;
}

a.paginate_button.current:hover{
  background-color: #FFA500;
  color: white;
}

a.paginate_button{
  padding: 5px;
  border: solid 1px gray;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

a.paginate_button:hover{
  background-color: #2D2F39;
  color: #ffffff;
}


.dataTables_wrapper label{
  font-size: 15px;
  padding: 10px;
}

.headers-text {
  height: 10%;
  display: flex;
  border-bottom: 3px solid #CCCCCC;
  padding-bottom: 80px;
  margin-bottom: 20px;
}

.arrowandtitle{
  display: flex;
  width: 50%;
}

.arrowandtitle h1{
  font-size: 35px;
  font-family: Poppins, 'Source Sans Pro';
  padding: 4px;
  
}

.home-supplier-tag{
  display: flex;
  flex-direction: row;
}

.home-supplier-tag p{
  font-size: 15px;
  font-family: Poppins, 'Source Sans Pro';
  color: black;
  padding: 5px;
}

.searches-sidebars {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.searchbars-right {
  display: flex;
  flex-direction: row;
}

.searchbars-right input[type="search"] {
  width: 300px;
  border: 1px solid #ccc;
  height: 50px;
  padding-left: 35px;
  font-size: 16px;
  border-radius: 4px;
  font-family: Poppins, 'Source Sans Pro';
}

.searchbars-right button {
  height: 50px;
  width: 100px;
  border: none;
  background-color: #CCCCCC;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.tabbutton-sides {
  height: 100%;
}

.productandprint{
  display: flex;
  padding: 15px;
  width: 100%;
  justify-content: space-between;
}


.printbtns button{
  height: 40px;
  width: 120px;
  background-color: #FFA500;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 15px;
}

.printbtns button:hover{
  background-color: #161A23;
}


.tabproduct-table{
  border: 1px solid black;
  height: 570px;
}

.orderhistory-side{
  display: flex;
  padding: 15px;
  justify-content: space-between;
  width: 100%;
}

.printersbtn button{
  height: 40px;
  width: 120px;
  background-color: #FFA500;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 15px;
}

.printersbtn button:hover{
  background-color: #161A23;
}

a#ordered-listing_previous{
  text-decoration: none;
  cursor: pointer;
}

a#ordered-listing_next{
  text-decoration: none;
  cursor: pointer;
}


div#ordered-listing_length{
  position: absolute;
}

div#ordered-listing_length label{
  padding: 10px;
  font-size: 15px;
}


/* ----------------------------------  toggle button ----------------------------------------*/
.cl-toggle-switch {
  position: relative;
 }
 
 .cl-switch {
  position: relative;
  display: inline-block;
 }
 /* Input */
 .cl-switch > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  right: 6px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 0, 0.38);
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
 }
 /* Track */
 .cl-switch > span::before {
  content: "";
  float: right;
  display: inline-block;
  margin: 5px 0 5px 10px;
  border-radius: 7px;
  width: 36px;
  height: 14px;
  background-color: rgb(0, 0, 0, 0.38);
  vertical-align: top;
  transition: background-color 0.2s, opacity 0.2s;
 }
 /* Thumb */
 .cl-switch > span::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 16px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: background-color 0.2s, transform 0.2s;
 }
 /* Checked */
 .cl-switch > input:checked {
  right: -10px;
  background-color: #85b8b7;
 }
 
 .cl-switch > input:checked + span::before {
  background-color: #85b8b7;
 }
 
 .cl-switch > input:checked + span::after {
  background-color: #018786;
  transform: translateX(16px);
 }
 /* Hover, Focus */
 .cl-switch:hover > input {
  opacity: 0.04;
 }
 
 .cl-switch > input:focus {
  opacity: 0.12;
 }
 
 .cl-switch:hover > input:focus {
  opacity: 0.16;
 }
 /* Active */
 .cl-switch > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
 }
 
 .cl-switch > input:active + span::before {
  background-color: #8f8f8f;
 }
 
 .cl-switch > input:checked:active + span::before {
  background-color: #85b8b7;
 }
 /* Disabled */
 .cl-switch > input:disabled {
  opacity: 0;
 }
 
 .cl-switch > input:disabled + span::before {
  background-color: #ddd;
 }
 
 .cl-switch > input:checked:disabled + span::before {
  background-color: #bfdbda;
 }
 
 .cl-switch > input:checked:disabled + span::after {
  background-color: #61b5b4;
 }

 /*---------------------------------- Checkbox  -----------------------------*/

 